<div class="card mt-5 mb-3 ml-3" style="max-width: 540px">
  <div class="card-body">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h5 class="card-title">Ime i prezime</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <p class="card-title">Flying from</p>
        </div>
        <div class="col-md-4">
          <p class="card-title">Ikonica</p>
        </div>
        <div class="col-md-4">
          <label>Flying to</label>
          <p >name</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <p class="card-title">Departure date</p>
        </div>
        <div class="col-md-4">
            <p class="card-title">Flight status</p>
        </div>
        <div class="col-md-4">
            <p class="card-title">Reserved number of seats</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p>Reservation status: <strong>STATUS</strong></p>
        </div>
      </div>
  </div>
</div>
