<div class="container mt-4 p-4">
  <form
    #searchForm="ngForm"
    class="form-inline mt-5 mb-4"
    (ngSubmit)="onSearchFlights()"
  >
    <div class="col-4 d-flex justify-content-center">
      <div class="form-group">
        <label>Flying from: </label>
        <select
          #flyingFrom
          id="ff"
          class="form-select form-control ml-1"
          [(ngModel)]="flightQueryParams.flyingFrom"
          name="flyingFrom"
          (change)="onLocationChange(flyingFrom)"
          required
        >
          <option *ngFor="let city of flyingFromCities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <div class="form-group">
        <label>Flying to: </label>
        <select
          #flyingTo
          id="ft"
          class="form-select form-control ml-1"
          [(ngModel)]="flightQueryParams.flyingTo"
          name="flyingTo"
          (change)="onLocationChange(flyingTo)"
          required
        >
          <option *ngFor="let city of flyingToCities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-secondary"
        [disabled]="searchForm.invalid"
      >
        Search
      </button>
    </div>
  </form>

  <div class="my-3" *ngIf="!isLoading">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
    >
      Show filter
    </button>
    <hr />
    <div
      id="collapseBasic"
      class="mb-4"
      [collapse]="!isCollapsed"
      [isAnimated]="true"
    >
      <div class="well well-lg card card-block card-header">
        <div class="d-flex align-items-baseline">
          <input #layoverCheckbox type="checkbox" id="layover" name="layover" [value]="0" (change)="onLayoverChange(layoverCheckbox)"/>
          <label for="layover" class="ml-2">Only without layover</label>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3" *ngIf="!isLoading && searchedFlights && searchedFlights.length > 0">
    <app-flights [flights]="searchedFlights"></app-flights>
  </div>
</div>
